name: Run tests

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Cache Poetry virtualenv
        uses: actions/cache@v3
        with:
          path: ~/.cache/pypoetry
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -

      - name: Install dependencies
        run: poetry install --no-root --with dev

      - name: Run unit-tests
        run: |
            chmod +x ./script/test/run_unit_tests.sh
            ./script/test/run_unit_tests.sh

      - name: Upload HTML coverage report
        uses: actions/upload-artifact@v4
        with:
          name: Unit-tests-report
          path: htmlcov/
  
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Cache Poetry virtualenv
        uses: actions/cache@v3
        with:
          path: ~/.cache/pypoetry
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -

      - name: Install dependencies
        run: poetry install --no-root --with dev

      - name: Run integration-tests
        run: |
            chmod +x ./script/test/run_integration_tests.sh
            ./script/test/run_integration_tests.sh

      - name: Upload HTML coverage report
        uses: actions/upload-artifact@v4
        with:
          name: Integration-tests-report
          path: htmlcov/
